@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #7030cc;
}

/* === NAVBAR === */

.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px;
}

nav img {
    width: 7em;
}

nav div a {
    text-decoration: none;
    margin: 0px 15px;
    color: white;
}

nav div a:last-child {
    padding: 10px 20px;
    background-color: #1bbcef;
}

/* === NAVBAR HOVER === */

nav div a:hover {
    color: #1bbcef;
}

nav div a:last-child:hover {
    background-color: #0088ff;
    color: white;
}

/* === CONTAINER CONTENT === */

.container > div {
    display: flex;
    align-items: center;
    padding: 0px 100px;
    padding-top: 50px;
    padding-bottom: 125px;
    margin-bottom: 50px;
}

.container > div img {
    width: 45%;
}

.container > div div h1 {
    color: white;
    font-size: 3em;
    padding-bottom: 30px;
}

.container > div div p {
    color: #CAD5E2;
    line-height: 1.5em;
}